<section>
    <div class="inicio">
        <img class="backgroundInicio" src="../../../../assets/imgs/backgroundInicio.jpg" alt="">
    </div>
    <div class="nosotros">
        <div class="nosotros--text">
            <div>
                <h3>nosotros</h3>
                <p>Nuestro Compromiso en Rev Beer es utilizar solo los mejores ingredientes, a seguir un proceso de elaboración riguroso y a innovar constantemente para crear cervezas únicas y deliciosas.</p>
            </div>
        </div>
        <div class="nosotros--img">
            <div class="nosotros--img__content">
                <img src="../../../../assets/imgs/cardimg.png" alt="">
                <div class="nosotros--img__card">
                    <p>5 sabores</p>
                </div>
            </div>
        </div>
    </div>
</section>
