<section>
    <div class="inicio">
        <img class="backgroundInicio" src="../../../../assets/imgs/backgroundInicio.jpg" alt="">
    </div>
    <div class="nosotros">
        <div class="nosotros--text">
            <div>
                <h3>Sobre Nosotros</h3>
                <p>Nuestro Compromiso en Rev Beer es utilizar solo los mejores ingredientes, a seguir un proceso de
                    elaboración riguroso y a innovar constantemente para crear cervezas únicas y deliciosas.</p>
            </div>
        </div>
        <div class="nosotros--img">
            <div class="nosotros--img__content">
                <img src="../../../../assets/imgs/cardimg.png" alt="">
                <div class="nosotros--img__card">
                    <p>Mas de 18 sabores</p>
                </div>
            </div>
        </div>
    </div>
    <div class="galeria">
        <div class="galeria--text">
            <h3>Galería Cervecera</h3>
            <p>Descubre nuestra variedad de cervezas y momentos únicos aquí.</p>
        </div>
        <div class="galeria--content">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <img class="galeria--content__element" src="../../../../assets/imgs/cardimg.png" alt="">
                    </div>
                    <div class="col-sm">
                        <img class="galeria--content__element" src="../../../../assets/imgs/cardimg.png" alt="">
                    </div>
                    <div class="col-sm">
                        <img class="galeria--content__element" src="../../../../assets/imgs/cardimg.png" alt="">
                    </div>
                    <div class="col-sm">
                        <img class="galeria--content__element" src="../../../../assets/imgs/cardimg.png" alt="">
                    </div>
                    <div class="col-sm">
                        <img class="galeria--content__element" src="../../../../assets/imgs/cardimg.png" alt="">
                    </div>
                    <div class="col-sm">
                        <img class="galeria--content__element" src="../../../../assets/imgs/cardimg.png" alt="">
                    </div>
                    <div class="col-sm">
                        <img class="galeria--content__element" src="../../../../assets/imgs/cardimg.png" alt="">
                    </div>
                    <div class="col-sm">
                        <img class="galeria--content__element" src="../../../../assets/imgs/cardimg.png" alt="">
                    </div>
                    <div class="col-sm">
                        <img class="galeria--content__element" src="../../../../assets/imgs/cardimg.png" alt="">
                    </div>
                    <div class="col-sm">
                        <img class="galeria--content__element" src="../../../../assets/imgs/cardimg.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>